<div
  class="activate-password-container"
  [style.background-image]="'url(' + images.loginBackgroundImageUrl + ')'"
>
  <mat-card class="mat-elevation-z8">
    @if (images.logoImageUrl && images.logoImageUrl.length >= 1) {
      <img [src]="images.logoImageUrl" alt="logo" />
    }

    <mat-form-field>
      <mat-label>{{ activationCodePlaceholder }}</mat-label>
      <input matInput [formControl]="activationCode" />
    </mat-form-field>

    @if (isSendActivationCodeLoading()) {
      <mat-progress-spinner mode="indeterminate" [diameter]="36" />
    } @else {
      <button
        mat-raised-button
        type="button"
        [disabled]="!activationCode.value"
        (click)="onSubmitActivationCode()"
        [style.background-color]="buttonsBackgroundColor"
        [style.color]="buttonsColor"
      >
        {{ sendActivationButtonTraduction }}
      </button>
    }
  </mat-card>
</div>
