#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex: 1;
    background-size: cover;

    mat-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 400px;
        box-sizing: border-box;
        padding: 2%;

        img {
            display: block;
            max-width: 200px;
            max-height: 100px;
            width: auto;
            height: auto;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            mat-form-field {
                width: 75%;
                font-size: 16px;
            }

            button, a, mat-spinner {
                margin-top: 20px;
            }

            a {
                cursor: pointer;
                color: dodgerblue;
                font-size: 16px;
            }
        }
    }
}
