<div id="container">
    <h2 mat-dialog-title>{{ signUpDialogTitle }}</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmitUser()">

        <div id="columns">
            <div id="left-column">
                <mat-form-field>
                    <input matInput [placeholder]="usernamePlaceholder" formControlName="username" autocomplete="off">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [placeholder]="firstNamePlaceholder" formControlName="firstName" autocomplete="off">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [placeholder]="emailPlaceholder" formControlName="email" autocomplete="off">
                </mat-form-field>
            </div>

            <div id="right-column">
                <mat-form-field>
                    <input matInput type="password" [placeholder]="passwordPlaceholder" formControlName="password" autocomplete="off">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [placeholder]="lastNamePlaceholder" formControlName="lastName" autocomplete="off">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [placeholder]="enterprisePlaceholder" formControlName="enterprise" autocomplete="off">
                </mat-form-field>
            </div>
        </div>

        <button
            *ngIf="!(isSignUpLoading$ | async)"
            mat-raised-button
            type="submit"
            [disabled]="userForm.invalid"
            [ngStyle]="{
                'background-color': buttonsBackgroundColor,
                'color': buttonsColor
            }"
        >
            {{ signupButtonTraduction }}
        </button>
        <mat-spinner *ngIf="isSignUpLoading$ | async" [diameter]="36"></mat-spinner>
    </form>
</div>
